bin/
dist/
webapp/src/manifest.ts
server/manifest.go

# Mac
.DS_Store

# Jetbrains
.idea/

# VS Code
.vscode

# Webapp
webapp/node_modules/
webapp/dist/
webapp/coverage/
webapp/junit.xml

CLAUDE.md 
.claude/
docs/